@import url('../fonts/font-awesome-4.3.0/css/font-awesome.css');

body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
}

section {
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container > section {
    margin: 0 auto;
    padding: 5em 3em;
    text-align: center;
    color: #fff;
}

.container > section div {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 1em;
}

.color-1 {
    background: #0e83cd;
}

.color-2 {
    background: #f06060;
}
.color-3 {
    background: #ecf0f1;
}
.color-4 {
    background: #7986bc;
}
.color-5 {
    background: #7dbb9f;
}
.color-6 {
    background: #7dbbbb;
}
.color-7 {
    background: #985181;
}
.color-8 {
    background: #695181;
}
.color-9 {
    background: #293181;
}
.color-10 {
    background: #cfd759;
}

.btn {
    border: none;
    padding: 25px 80px;
    margin: 15px 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    background: none;
    letter-spacing: 1px;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    display: inline-block;
}

.btn:after, .btn:before{
    content:'';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-round-1 {
    border-radius: 40px;
}
.btn-round-2 {
    border-radius: 10px;
}
.btn-round-3 {
    border-radius: 0;
}
.btn-round-4 {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}


/*btn 1*/

.btn-1 {
    overflow: hidden;
    border: 3px solid #fff;
}

.btn-1:hover {
    color: #0e83cd;
}

.btn-1:active {
    color: #fff;
}

.btn-1a:hover {
    background: #fff;
}
.btn-1a:active {
    color: #fff;
    background: #0e83cd;
}

.btn-1b:after {
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    background: #fff;
}

.btn-1b:hover:after {
    height: 100%;
}
.btn-1b:active:after {
    background: #0e83cd;
}

.btn-1c:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #fff;
}
.btn-1c:hover:after {
    width: 100%;
}
.btn-1c:active:after {
    background: #0e83cd;
}

.btn-1d:active {
    color: #0e83cd;
}
.btn-1d:after {
    top:50%;
    left: 50%;
    height: 102%;
    width: 0;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.btn-1d:hover:after {
    width: 90%;
    opacity: 1;
}
.btn-1d:active:after {
    width: 102%;
}

.btn-1e:active {
    color: #0e83cd;
}

.btn-1e:after {
    top:50%;
    left: 50%;
    width: 100%;
    height: 0;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.btn-1e:hover:after {
    height: 260%;
    opacity: 1;
}
.btn-1e:active:after {
    height: 260%;
    width: 260%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btn-1f:active {
    color: #0e83cd;
}
.btn-1f:after {
    top:50%;
    left: 50%;
    width: 102%;
    height: 0;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.btn-1f:hover:after {
    height: 80%;
    opacity: 1;
}
.btn-1f:active:after {
    height: 102%;
}


/*btn 2*/

.btn-2 {
    background: #cb4e4e;
    box-shadow: 0 6px #ab3c3c;
    color: #fff;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

.btn-2a {
    border-radius: 0 0 5px 5px;
}
.btn-2a:hover {
    top: 2px;
    box-shadow: 0 4px #ab3c3c;
}
.btn-2a:active {
    top: 6px;
    box-shadow: none;
}

.btn-2b {
    border-radius: 0 0 5px 5px;
}
.btn-2b:hover {
    top: -2px;
    box-shadow: 0 8px #ab3c3c;
}
.btn-2b:active {
    top: 6px;
    box-shadow: none;
}

.btn-2c {
    border-radius: 40px;
}
.btn-2c:hover {
    top: 2px;
    box-shadow: 0 4px #ab3c3c;
}
.btn-2c:active {
    top: 6px;
    box-shadow: none;
}

.btn-2d, .btn-2e {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}

.btn-2d:hover {
    top: 2px;
    box-shadow: 0 4px #ab3c3c;
}
.btn-2d:active {
    top: 6px;
    box-shadow:none;
}

.btn-2e:hover {
    top: -2px;
    box-shadow: 0 8px #ab3c3c;
}
.btn-2e:active {
    top: 6px;
    box-shadow:none;
}


/*btn 3*/
.perpective {
    display: inline-block;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}
.btn-3 {
    color: #aaa;
    display: block;
    background: #fff;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}

.btn-3a:hover {
    background: #aaa;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateY(100%);
    -webkit-transform: rotateX(-90deg) translateY(100%);
    -moz-transform: rotateX(-90deg) translateY(100%);
    -o-transform: rotateX(-90deg) translateY(100%);
    -ms-transform: rotateX(-90deg) translateY(100%);
}

.btn-3a:after {
    position: absolute;
    top:-100%;
    left:0;
    width: 100%;
    height: 100%;
    line-height: 70px;
    content: "SUCCESS";
    background: #7aca7c;
    color: #358337;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
}

.btn-3b:hover {
    background: #aaa;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform: rotateX(90deg) translateY(-100%);
    -webkit-transform: rotateX(90deg) translateY(-100%);
    -moz-transform: rotateX(90deg) translateY(-100%);
    -o-transform: rotateX(90deg) translateY(-100%);
    -ms-transform: rotateX(90deg) translateY(-100%);
}

.btn-3b:after {
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    height: 100%;
    line-height: 70px;
    content: "ERROR";
    background: #e96a6a;
    color: #a33a3a;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
}


/*btn 4 */

.btn-4 {
    overflow: hidden;
}

.btn-4a {
    color: #7986cd;
}

.btn-4a:before , .btn-4a:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-4a:before {
    border: 2px solid #fff;
    border-radius: inherit;
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
.btn-4a:hover:before {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
.btn-4a:active:before {
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}

.btn-4a:after {
    background: #fff;
    border-radius: inherit;
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
.btn-4a:hover:after {
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
.btn-4a:active:after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}

.btn-4b {
    color: #7986cd;
}

.btn-4b:before , .btn-4b:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-4b:before {
    border: 2px solid #fff;
    border-radius: inherit;
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
.btn-4b:hover:before {
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
.btn-4b:active:before {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}

.btn-4b:after {
    background: #fff;
    border-radius: inherit;
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
.btn-4b:hover:after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
.btn-4b:active:after {
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
/*btn 5*/

@keyframes zoom-1
{
    65% {
        transform: scale3d(0.6, 0.6, 1);
        -webkit-transform: scale3d(0.6, 0.6, 1);
        -moz-transform: scale3d(0.6, 0.6, 1);
        -ms-transform: scale3d(0.6, 0.6, 1);
        -o-transform: scale3d(0.6, 0.6, 1);
    }
    85% { 
        transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoom-1
{
    65% {
        transform: scale3d(0.6, 0.6, 1);
        -webkit-transform: scale3d(0.6, 0.6, 1);
        -moz-transform: scale3d(0.6, 0.6, 1);
        -ms-transform: scale3d(0.6, 0.6, 1);
        -o-transform: scale3d(0.6, 0.6, 1);
    }
    85% { 
        transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}

@keyframes zoom-1-anti
{
    65% {
        transform: scale3d(1.3, 1.3, 1);
        -webkit-transform: scale3d(1.3, 1.3, 1);
        -moz-transform: scale3d(1.3, 1.3, 1);
        -ms-transform: scale3d(1.3, 1.3, 1);
        -o-transform: scale3d(1.3, 1.3, 1);
    }
    85% { 
        transform: scale3d(0.8, 1.1, 1);
        -webkit-transform: scale3d(0.8, 0.8, 1);
        -moz-transform: scale3d(0.8, 0.8, 1);
        -ms-transform: scale3d(0.8, 0.8, 1);
        -o-transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoom-1-anti
{
    65% {
        transform: scale3d(1.3, 1.3, 1);
        -webkit-transform: scale3d(1.3, 1.3, 1);
        -moz-transform: scale3d(1.3, 1.3, 1);
        -ms-transform: scale3d(1.3, 1.3, 1);
        -o-transform: scale3d(1.3, 1.3, 1);
    }
    85% { 
        transform: scale3d(0.8, 1.1, 1);
        -webkit-transform: scale3d(0.8, 0.8, 1);
        -moz-transform: scale3d(0.8, 0.8, 1);
        -ms-transform: scale3d(0.8, 0.8, 1);
        -o-transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}

@keyframes zoom-2
{
    to {
        opacity: 0;
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoom-2
{
    to {
        opacity: 0;
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
    }
}


.btn-5 {
    color: #7dbb9f;
}

.btn-5a, .btn-5b{
    background: #fff;
}

.btn-5a:hover {
    animation: zoom-1 0.3s;
    -webkit-animation: zoom-1 0.3s;
    -moz-animation: zoom-1 0.3s;
    -ms-animation: zoom-1 0.3s;
}

.btn-5a:after {
    border-radius: inherit;
    top:-20px;
    left:-20px;
    right: -20px;
    bottom: -20px;
    opacity: 0.4;
    background: inherit;
    border-radius: inherit;
    transform: scale3d(0.8, 0.5, 1);
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
}

.btn-5a:hover:after {
    animation: zoom-2 0.3s 0.3s;
    -webkit-animation: zoom-2 0.3s 0.3s;
    -moz-animation: zoom-2 0.3s 0.3s;
    -ms-animation: zoom-2 0.3s 0.3s;
}

.btn-5a:active:after {
    animation: zoom-1 0.3s;
    -webkit-animation: zoom-1 0.3s;
    -moz-animation: zoom-1 0.3s;
    -ms-animation: zoom-1 0.3s;
}

.btn-5b:hover {
    animation: zoom-1-anti 0.3s;
    -webkit-animation: zoom-1-anti 0.3s;
    -moz-animation: zoom-1-anti 0.3s;
    -ms-animation: zoom-1-anti 0.3s;
}

.btn-5b:after {
    border-radius: inherit;
    top:-20px;
    left:-20px;
    right: -20px;
    bottom: -20px;
    opacity: 0.4;
    background: inherit;
    border-radius: inherit;
    transform: scale3d(0.8, 0.5, 1);
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
}

.btn-5b:hover:after {
    animation: zoom-2 0.3s 0.3s;
    -webkit-animation: zoom-2 0.3s 0.3s;
    -moz-animation: zoom-2 0.3s 0.3s;
    -ms-animation: zoom-2 0.3s 0.3s;
}

.btn-5b:active:after {
    animation: zoom-1 0.3s;
    -webkit-animation: zoom-1 0.3s;
    -moz-animation: zoom-1 0.3s;
    -ms-animation: zoom-1 0.3s;
}

/* btn 6 */

.btn-6 {
    border: 2px solid #fff;
}

.btn-6a, .btn-6b{
    border: none;
    background: rgba(255, 255, 255, 0.1);
}

.btn-6a:hover, .btn-6b:hover {
    background: rgba(255, 255, 255, 1);
    color: #7dbbbb;
}

.btn-6a:after, .btn-6b:after{
    border-radius: 50%;
    border: 2px solid #fff;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    opacity: 0;
}

.btn-6b:after {
    -webkit-transform: scale3d(1.4, 1.4, 1);
    -moz-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}

.btn-6a:hover:after, .btn-6b:hover:after{
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    -moz-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}


/* btn 7 */
.btn-7 {
}

.btn-7a, .btn-7b {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}

.btn-7a:after, .btn-7b:after {
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 4px dashed #fff;
}

.btn-7a:hover, .btn-7b:hover{
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0);
}

.btn-7b:hover:after {
    animation: spinAround 9s linear infinite;
    -webkit-animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinAround {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* btn 8 */
.btn-8 {
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}

.btn-8a:hover ,
.btn-8b:hover ,
.btn-8c:hover ,
.btn-8d:hover
{
    background: #fff;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.2);
    color: #695181;
}

.btn-8a:hover i{
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    -o-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

.btn-8b:hover i{
    -webkit-animation: toLeftFromRight 0.3s forwards;
    -moz-animation: toLeftFromRight 0.3s forwards;
    -o-animation: toLeftFromRight 0.3s forwards;
    animation: toLeftFromRight 0.3s forwards;
}

.btn-8c:hover i{
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    -o-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

.btn-8d:hover i{
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    -o-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toRightFromLeft {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}

@-moz-keyframes toRightFromLeft {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}

@-webkit-keyframes toLeftFromRight {
    49% {
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toLeftFromRight{
    49% {
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(100%);
    }
    51% {
        opacity: 1;
    }
}

@-moz-keyframes toLeftFromRight{
    49% {
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(100%);
    }
    51% {
        opacity: 1;
    }
}

@-webkit-keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toLeftFromRight{
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

@-moz-keyframes toLeftFromRight{
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

@-webkit-keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

@-moz-keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}


/* btn 9 */
.btn-9 {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}

.btn-9a:hover i {
    -webkit-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}


/* btn 10 */
@keyframes shadowSpinAround {
    0% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    12.5% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    25% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    37.5% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    62.5% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    75% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    87.5% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 -10px 1px 4px rgba(255, 255, 255, 1);
    }
}

@-moz-keyframes shadowSpinAround {
    0% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    12.5% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    25% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    37.5% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    62.5% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    75% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    87.5% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 -10px 1px 4px rgba(255, 255, 255, 1);
    }
}

@keyframes IshadowSpinAround {
    0% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    12.5% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    25% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    37.5% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    62.5% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    75% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    87.5% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 -10px 1px 4px rgba(255, 255, 255, 1);
    }
}

@-moz-keyframes IshadowSpinAround {
    0% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    12.5% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    25% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    37.5% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    62.5% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    75% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    87.5% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 -10px 1px 4px rgba(255, 255, 255, 1);
    }
}

@keyframes UDshadowSpinAround {
    0% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    6.25% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    12.5% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    18.75% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    25% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    31.25% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    37.5% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    42.75% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 -10px 1px 4px rgba(255, 255, 255, 1);
    }
    56.25% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    62.5% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    68.75% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    75% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    81.25% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    87.5% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    92.75% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 -10px 1px 4px rgba(255, 255, 255, 1);
    }
}

@keyframes DUshadowSpinAround {
    0% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    6.25% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    12.5% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    18.75% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    25% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    31.25% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    37.5% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    42.75% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
    56.25% {
        box-shadow: -7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    62.5% {
        box-shadow: -10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    68.75% {
        box-shadow: -7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    75% {
        box-shadow: 0 -10px 0 4px rgba(255, 255, 255, 1);
    }
    81.25% {
        box-shadow: 7.5px -7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    87.5% {
        box-shadow: 10px 0 1px 4px rgba(255, 255, 255, 1);
    }
    92.75% {
        box-shadow: 7.5px 7.5px 1px 4px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 10px 1px 4px rgba(255, 255, 255, 1);
    }
}
.btn-10 {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}

.btn-10a:hover {
    -webkit-animation: shadowSpinAround 1s linear infinite;
    -moz-animation: shadowSpinAround 1s linear infinite;
    -o-animation: shadowSpinAround 1s linear infinite;
    animation: shadowSpinAround 1s linear infinite;
}

.btn-10b:hover {
    -webkit-animation: IshadowSpinAround 1s linear infinite;
    -moz-animation: IshadowSpinAround 1s linear infinite;
    -o-animation: IshadowSpinAround 1s linear infinite;
    animation: IshadowSpinAround 1s linear infinite;
}

.btn-10c:hover {
    -webkit-animation: UDshadowSpinAround 2s linear infinite;
    -moz-animation: UDshadowSpinAround 2s linear infinite;
    -o-animation: UDshadowSpinAround 2s linear infinite;
    animation: UDshadowSpinAround 2s linear infinite;
}

.btn-10d:hover {
    -webkit-animation: DUshadowSpinAround 2s linear infinite;
    -moz-animation: DUshadowSpinAround 2s linear infinite;
    -o-animation: DUshadowSpinAround 2s linear infinite;
    animation: DUshadowSpinAround 2s linear infinite;
}
