body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
}

section {
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container > section {
    margin: 0 auto;
    padding: 5em 3em;
    text-align: center;
    color: #fff;
}

.container > section div {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 1em;
}

.color-1 {
    background: #0e83cd;
}

.color-2 {
    background: #f06060;
}
.color-3 {
    background: #ecf0f1;
}
.color-4 {
    background: #7986bc;
}

.btn {
    border: none;
    padding: 25px 80px;
    margin: 15px 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    background: none;
    letter-spacing: 1px;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    display: inline-block;
}

.btn:after, .btn:before{
    content:'';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*btn 1*/

.btn-1 {
    border: 3px solid #fff;
}

.btn-1:hover {
    color: #0e83cd;
}

.btn-1:active {
    color: #fff;
}

.btn-1a:hover {
    background: #fff;
}
.btn-1a:active {
    color: #fff;
    background: #0e83cd;
}

.btn-1b:after {
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    background: #fff;
}

.btn-1b:hover:after {
    height: 100%;
}
.btn-1b:active:after {
    background: #0e83cd;
}

.btn-1c:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #fff;
}
.btn-1c:hover:after {
    width: 100%;
}
.btn-1c:active:after {
    background: #0e83cd;
}

.btn-1d:active {
    color: #0e83cd;
}
.btn-1d:after {
    top:50%;
    left: 50%;
    height: 100%;
    width: 0;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.btn-1d:hover:after {
    width: 90%;
    opacity: 1;
}
.btn-1d:active:after {
    width: 100%;
}

.btn-1e {
    overflow: hidden;
}
.btn-1e:active {
    color: #0e83cd;
}

.btn-1e:after {
    top:50%;
    left: 50%;
    width: 100%;
    height: 0;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.btn-1e:hover:after {
    height: 260%;
    opacity: 1;
}
.btn-1e:active:after {
    height: 260%;
    width: 260%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btn-1f:active {
    color: #0e83cd;
}
.btn-1f:after {
    top:50%;
    left: 50%;
    width: 100%;
    height: 0;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.btn-1f:hover:after {
    height: 80%;
    opacity: 1;
}
.btn-1f:active:after {
    height: 100%;
}


/*btn 2*/

.btn-2 {
    background: #cb4e4e;
    box-shadow: 0 6px #ab3c3c;
    color: #fff;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

.btn-2a {
    border-radius: 0 0 5px 5px;
}
.btn-2a:hover {
    top: 2px;
    box-shadow: 0 4px #ab3c3c;
}
.btn-2a:active {
    top: 6px;
    box-shadow: none;
}

.btn-2b {
    border-radius: 0 0 5px 5px;
}
.btn-2b:hover {
    top: -2px;
    box-shadow: 0 8px #ab3c3c;
}
.btn-2b:active {
    top: 6px;
    box-shadow: none;
}

.btn-2c {
    border-radius: 40px;
}
.btn-2c:hover {
    top: 2px;
    box-shadow: 0 4px #ab3c3c;
}
.btn-2c:active {
    top: 6px;
    box-shadow: none;
}

.btn-2d, .btn-2e {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}

.btn-2d:hover {
    top: 2px;
    box-shadow: 0 4px #ab3c3c;
}
.btn-2d:active {
    top: 6px;
    box-shadow:none;
}

.btn-2e:hover {
    top: -2px;
    box-shadow: 0 8px #ab3c3c;
}
.btn-2e:active {
    top: 6px;
    box-shadow:none;
}


/*btn 3*/
.perpective {
    display: inline-block;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}
.btn-3 {
    color: #aaa;
    display: block;
    background: #fff;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}

.btn-3a:hover {
    background: #aaa;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateY(100%);
    -webkit-transform: rotateX(-90deg) translateY(100%);
    -moz-transform: rotateX(-90deg) translateY(100%);
    -o-transform: rotateX(-90deg) translateY(100%);
    -ms-transform: rotateX(-90deg) translateY(100%);
}

.btn-3a:after {
    position: absolute;
    top:-100%;
    left:0;
    width: 100%;
    height: 100%;
    line-height: 70px;
    content: "SUCCESS";
    background: #7aca7c;
    color: #358337;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
}

.btn-3b:hover {
    background: #aaa;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform: rotateX(90deg) translateY(-100%);
    -webkit-transform: rotateX(90deg) translateY(-100%);
    -moz-transform: rotateX(90deg) translateY(-100%);
    -o-transform: rotateX(90deg) translateY(-100%);
    -ms-transform: rotateX(90deg) translateY(-100%);
}

.btn-3b:after {
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    height: 100%;
    line-height: 70px;
    content: "ERROR";
    background: #e96a6a;
    color: #a33a3a;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
}


/*btn 4 */

.btn-4 {
    overflow: hidden;
}

.btn-4-round-1 {
    border-radius: 40px;
}
.btn-4-round-2 {
    border-radius: 10px;
}
.btn-4-round-3 {
    border-radius: 0;
}

.btn-4a {
    color: #7986cd;
}

.btn-4a:before , .btn-4a:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-4a:before {
    border: 2px solid #fff;
    border-radius: inherit;
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
.btn-4a:hover:before {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}

.btn-4a:after {
    background: #fff;
    border-radius: inherit;
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
.btn-4a:hover:after {
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}

.btn-4b {
    color: #7986cd;
}

.btn-4b:before , .btn-4b:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-4b:before {
    border: 2px solid #fff;
    border-radius: inherit;
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
.btn-4b:hover:before {
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}

.btn-4b:after {
    background: #fff;
    border-radius: inherit;
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transform: scale3d(0.7, 0.7, 1);
}
.btn-4b:hover:after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}
