* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0 0 0;
}

#show-vlayer {
    font-family: inherit;
    display: block;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    background: #aaa;
    padding: 15px;
    color: #fff;
    border-radius: 40px;
}

.vlayer {
    display: none;
    font-family: inherit;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.vlayer .vcontainer {
    display: none;
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 400px;
    margin: 40px auto 0;
    box-shadow: 0 0 10px #aaa;
}

.vlayer #vclose {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
}

.vlayer .vheader {
    position: relative;
    border-bottom: 1px solid #aaa;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.vlayer .vcontent {
    position: relative;
    padding: 10px;
}

.vlayer .op {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
}

.vlayer .op .confirm,
.vlayer .op .cancel {
    float: left;
    text-decoration: none;
    width: 50%;
    border:none;
    height: 100%;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.vlayer .op .confirm{
    background: #fc7169;
}

.vlayer .op .cancel{
    background: #b6bece;
}

.vlayer .op .confirm:hover {
    background: #fc908a;
}

.vlayer .op .cancel:hover{
    background: #c7c9cb;
}
