@import url('../fonts/font-awesome-4.3.0/css/font-awesome.css');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

*:before, *:after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

body {
    font-family: Arial;
    height: 100%;
    font-size: 100%;
    overflow: hidden;
}

section {
    display: block;
}

nav {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.s0 {
    top: 0%;
}

.s1 {
    top: -100%;
}

.s2 {
    top: -200%;
}

.s3 {
    top: -300%;
}

.s4 {
    top: -400%;
}

.s5 {
    top: -500%;
}

/* nav */


.nav-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    background: -webkit-linear-gradient(top, rgba(0,0,0, 0.1) -5%, rgba(0,0,0, 0) 100%);
}

#nav {
    line-height: 76px;
    text-align: center;
    font-size: 1em;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

#logo {
    float: left;
    color: #eee;
    line-height: inherit;
    padding: 0 20px;
}

.logo {
    letter-spacing: 3px;
    font-size: 1.4em;
    font-weight: 400;
}

.topbar_items{
    line-height: inherit;
    position: relative;
    text-align: right;
    height: 76px;
}

#topbar_main {
    float: right;
}

.topbar_items > li {
    display: inline-block;
    text-align: center;
    position: relative;
}

.topbar_items > li a {
    display: block;
    height: 76px;
    position: relative;
    padding: 20px 20px;
    overflow: hidden;
    color: inherit;
    vertical-align: middle;
}

.topbar_items li a:hover span{
    opacity: 0;
    margin-top: -50px;
}

.topbar_items li a:hover .nav-icon{
    opacity: 1;
    margin-top: 10px;
}

.topbar_items li a span{
    display: block;
    line-height: 36px;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.topbar_items .nav-icon {
    margin-top: 40px;
}

/* end of nav */

.section {
    position: relative;
    padding: 50px 50px;
    width: 100%;
    height: 100%;
}

.first {
    background: #e06e77;
}

.second {
    background: #76b7b0;
}

.third {
    background: #6e93cd;
}

.fourth {
    background: #6e69cd;
}

.firth {
    background: #a56666;
}

.vertical-middle {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
}

.chead h1{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 5px;
}

.chead .desc {
    padding: 20px 5px 30px;
    text-align: center;
}

.chead .solgan {
    font-size: 1.3em;
    text-align: center;
}

.content .pannel {
    padding: 30px 10px;
    text-align: center;
    position: relative;
}

.col {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.col-3 {
    width: 30%;
}

.col-10 {
    width: 100%;
}

.icon {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
}

.color-1 {
    background: #a3736d;
}

.color-2 {
    background: #b58e68;
}

.color-3 {
    background: #c54a4a;
}

.f-color-1 {
    color: rgb(26,75,153) !important;
}

.f-color-2 {
    color: #7e0000 !important;
}


.pannel .title {
    padding: 30px;
    font-size: 1.4em;
}

.pannel .desc {
    letter-spacing: 1.4px;
    font-size: 0.8em;
}

.icon i {
    padding: 60px 50px 50px;
}

/* page 2 */
.pro-item {
    display: none;
    transform: scale(2, 2);
    opacity: 0;
}

.pro-item.active {
    display: block;
    transform: scale(1, 1);
    opacity: 1;
}

.pro-item .pro {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.4);
}

.pro-item .pro-content {
    top: 20px;
    left: 0;
    right: 0;
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
    margin: auto auto;
    z-index: 2;
    opacity: 0;
}

.pro-item .title {
    padding: 180px 0 20px;
}

.pro-item .desc {
    padding: 10px 20px;
    line-height: 20px;
}

.pro-item .pro-link:hover .pro-content {
    opacity: 1;
}

.pro-item .pro-link:hover .pro-content {
    background: rgba(0, 0, 0, 0.3);
}

.level-index {
    clear: both;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -50%;
    height: 12px;
    text-align: center;
}

.level-index > li {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
}

.level-index > li.active {
    background: #fff;
}

.handover-control {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 100%;
    text-align: center;
    display:inline;
    width: 15%;
    opacity: .6;
}

.handover-control:hover {
    opacity: 1;
}

.handover-control span {
    position: absolute;
    top: 50%;
    display: inline-block;
}

.left.handover-control {
    left: 0;
}

.right.handover-control {
    right: 0;
}

/* page 3 */
.us-team {
    width: 900px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    left: 68px;
    top: 0;
    min-height: 360px;
    max-height: 360px;
}

.us.x1 {
    height: 100px;
    width: 100px;
}

.us.x1-5 {
    height: 150px;
    width: 150px;
}

.us.x2 {
    height: 200px;
    width: 200px;
}

.us {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
    overflow: hidden;
    background-position: center;
}

.us .us-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
}

.us .us-content > div {
    height: 100%;
    transform: rotate(-45deg);
}

.us .us-content > div > div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.us:hover .us-content {
    opacity: 1;
}

.nro {
    transform: none;
    background: #fff;
}

.us img {
    transform: rotate(-45deg) translateY(-21%);
    height: 142%;
    width: 143%;
}

.us.s1 {
    margin-left: 10%;
}

.us.s2 {
    margin-left: 23%;
}

.us.s3 {
    margin-left: 52%;
    margin-top: 5%;
}

.us.s4 {
    margin-left: 63%;
}

.us.s5 {
    margin-top: 13.6%;
    margin-left: 12.6%;
}

.us.s6 {
    margin-top: 14.8%;
    margin-left: 41.75%;
}

.us.s7 {
    margin-top: 13%;
    margin-left: 59.9%;
}

.us.s8 {
    margin-top: 21.48%;
    margin-left: 20.43%;
}

.us.s9 {
    margin-top: 26.8%;
    margin-left: 29.83%;
}
