body {
    font-size: 100%;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

#idx-banner {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: bold;
    list-style-type: none; /** disc, circle, square, none, decimal, lower-roman, upper-roman,
                            lower-alpha, upper-alpha **/
    list-style-position: inside;
}

#idx-banner li {
    text-align: center;
    color: #667;
    width: auto;
    background-color: #ddd;
    padding: 5px;
    margin: 3px;
    display: inline;
}

#idx-banner li:hover {
    background-color: #666;
    color: #fff;
}

div {
    padding: 10%;
    width: 80%;
}

#table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    empty-cells: hide;
    border-spacing: 10px;
}

#table th, tr, td {
    height: 40px;
    border: 1px solid #ccc;
}

#table .head {
    color: #fff;
    background-color: #666;
}

#table .alt {
    background-color: #ddd;
}

#table .alt:hover {
    background-color: #ccc;
}

#outline p {
    outline:#ddd double 4px;
}
