body {
    font-size: 100%;
}

.container .pg{
    width: 300px;
    background-color: #ddd;
    margin: auto 20px auto auto;
    padding: 30px
}

.outset {
    margin: 20px;
    background-color: #ddd;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
}

#d1, #d2{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#d1 {
    background-color: red;
    margin-bottom: 20px;
}

#d2 {
    background-color: blue;
}
